<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="araba" class="com.zaferkirca.arac.Araba">
		<property name="yakit" ref="yakit" />
		<property name="yakitFiyati" value="5" />
	</bean>

	<bean id="yakit" class="com.zaferkirca.yakit.Benzin" />
</beans>